<% include partials/header %>
<div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Get Started With Blogger</p>
            </div>
<form method="POST" action="/users/add">
            <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Your Name *" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="email *" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Your username *" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="password" class="form-control" name="pass" placeholder="Your Password *" value=""/>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btnSubmit" value="submit">Submit</button>
            </div>
        </div>
    </div>
</form>
<h2>Total Registered Users</h2>

<table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>username</th>
        <th>Email</th>
        <th>Delete</th>
      </tr>
    </thead>
    
    <tbody>
    <% users.forEach(function(user){ %>
      <tr class="success">
        <td><%= user.first_name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
    <td><a href="#" class="delete" data-id="<%= user._id %>">Delete</a></td> 
    </tr>
      <% }) %>

    </tbody>
  </table>
<% include partials/footer %>